.modal {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	transition: .3s;
	opacity: 0;
	z-index: -1;
}

.modalMain {
	position: absolute;
	top: 50%;
	left: 50%;
	background: red;
	transform: translate(-50%, -50%);	
	padding: 2rem;
}

.open {
	opacity: 1;
	z-index: 10;
	pointer-events: initial;
}

.closeModal {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	transition: .3s;
}

.closeModal:hover {
	cursor: pointer;
	transform: scale(1.4) rotate(90deg);
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	background: #000;
	width: 15px;
	height: 2px;
}

.closeModal::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.closeModal::after {	
	transform: translate(-50%, -50%) rotate(45deg);
}
